<mat-toolbar color="primary">
  <span><img src="/assets/images/viking-ship.svg" height=60 width=40></span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/home"><img src="/assets/images/house.svg" height="20" width="20"> Home</a>
  <a mat-button routerLink="/about"><img src="/assets/images/shield.svg" height="20" width="20"> About</a>
  <a mat-button routerLink="/topic"><img src="/assets/images/swords.svg" height="20" width="20"> Topic</a>
  <a mat-button routerLink="/contact"><img src="/assets/images/arrows.svg" height="20" width="20"> Contact</a>
</mat-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="70%">
    <h1>Viking World</h1>
    <h2>{{'Viking   world' | runeConverter}}</h2>
    <p>Look not upon me, because I am black, because the sun hath looked upon me: my mother's children were angry with me; they made me the keeper of the vineyards; but mine own vineyard have I not kept.</p>
  </div>
  <div fxFlex fxFlex.gt-sm="15%">
    <img src="/assets/images/amulet.svg" alt="Logo">
  </div>
</div>
