<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="topic">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 appSkranjiFont>{{topic.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{topic.image}} alt={{topic.name}}>
        <mat-card-content>
          <p>{{topic.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40">
    <div *ngIf="topic?.comments">
      <h3>{{'Comments' | uppercase}}</h3>
      <mat-list>
        <mat-list-item *ngFor="let comment of topic.comments">
          <p mat-line>{{comment.comment}}</p>
          <p mat-line>{{comment.rating}} Stars</p>
          <p mat-line> --  {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
