<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          Odin's Hall<br>
          Valhalla<br>
          Asgard<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:vikings@world.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-icon-button href="tel:+85212345678"><i class="fa fa-phone fa-2x"></i></a>
          <a mat-icon-button><i class="fa fa-skype fa-2x"></i></a>
          <a mat-icon-button href="mailto:vikings@world.net"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 appSkranjiFont>Send us your Feedback</h3>
        </mat-panel-title>
        <mat-panel-description>
          <h4>{{'Send us your Feedback'| runeConverter}}</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxFlex fxFlexOffset="20px" class="form-size">

        <form novalidate autocomplete="off" [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <mat-label appSkranjiFont>Name</mat-label>
              <mat-icon matPrefix><i class="fa fa-user"></i></mat-icon>
              <input mat-line matInput formControlName="firstname" placeholder="{{'Name'| runeConverter}}" type="text" required>
              <mat-error *ngIf="feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched">First name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="half-width">
              <mat-label appSkranjiFont>Nick Name</mat-label>
              <mat-icon matPrefix><i class="fa fa-user-secret"></i></mat-icon>
              <input matInput formControlName="nickname" placeholder="{{'Nick Name'| runeConverter}}" type="text" required>
              <mat-error *ngIf="feedbackForm.get('nickname').hasError('required') && feedbackForm.get('nickname').touched">Nick name is required</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width">
              <mat-label appSkranjiFont>Email</mat-label>
              <mat-icon matPrefix><i class="fa fa-at"></i></mat-icon>
              <input matInput formControlName="email" placeholder="{{'Email'| runeConverter}}" type="email" required>
              <mat-error *ngIf="feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched">Email ID is required</mat-error>
            </mat-form-field>
          </p>
          <table class="form-size">
            <td>
              <mat-slide-toggle formControlName="agree"><span appSkranjiFont>May we contact you?</span></mat-slide-toggle>
            </td>
            <td></td>
          </table>
          <p>
            <mat-form-field class="full-width">
              <mat-label appSkranjiFont>Your feedback</mat-label>
              <textarea matInput formControlName="message" placeholder="{{'Your Feedback'| runeConverter}}" rows=12></textarea>
            </mat-form-field>
          </p>
          <button mat-icon-button><img src="/assets/images/close-cross.svg" height=30 width=30></button>
          <button type="submit" mat-icon-button>
            <img src="/assets/images/checked-symbol.svg" height=30 width=30>
          </button>        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
