<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <hr>
    </div>
  </div>
  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="250px">
      <mat-grid-tile *ngFor="let topic of topics" (click)="onSelect(topic)">
        <img hight="200px" src={{topic.image}} alt={{topic.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{topic.name | uppercase}}</h1>
          <h2 matLine>{{topic.name | runeConverter}}</h2>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <hr>
  </div>
  <app-topicdetail [topic]="selectedTopic"></app-topicdetail>
</div>
