<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <hr>
    </div>
  </div>
  <div fxFlex *ngIf="topics">
    <mat-grid-list [cols]="3" rowHeight="200px">
      <mat-grid-tile *ngFor="let topic of topics" [routerLink]="['/topic', topic.id]">
        <img hight="200px" src={{topic.image}} alt={{topic.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{topic.name | uppercase}}</h1>
          <h2 matLine>{{topic.name | runeConverter}}</h2>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="topics">
    <div fxLayoutAlign="center center" style="min-height: 600px">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div>
    <hr>
  </div>
</div>
