<style>
  .app-loader {
    min-height: 600px;
  }
</style>
<div *ngIf="articles" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center stretch">
      <mat-card style="margin:5px" fxFlex="30" fxFlex.sm="45" *ngFor="let article of articles" [routerLink]="['/article', article.id]">
        <img mat-card-image src={{article.image}} alt={{article.heading}} height="200px">
        <mat-card-content>
          <mat-card-title>
            <h5 appSkranjiFont>{{article.heading | uppercase}}</h5>
          </mat-card-title>
        </mat-card-content>
      </mat-card>
  </div>
<div [hidden]="articles">
  <div class="app-loader" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</div>
